<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PersonalSchoolCEntities" connectionString="metadata=res://*/StudentModelDatabase.csdl|res://*/StudentModelDatabase.ssdl|res://*/StudentModelDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDAG_PC\HUH;initial catalog=PersonalSchoolC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>